<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href=" {% url 'AppGameInicio' %} ">Inicio</a>
        <a class="navbar-brand" href=" {% url 'AppGameJugador' %} ">Jugadores</a>
        <a class="navbar-brand" href=" {% url 'AppGameConsola' %} ">Consolas</a>
        <a class="navbar-brand" href=" {% url 'AppGameJuegos' %} ">Juegos</a>
        
        {% if user.is_authenticated %}
            <img height="40px" src="{{ user.avatar.imagen.url}}" alt="">
            <h5>Usuario: {{user.get_username}}</h5>
            <a class="btn btn-primary" href="{% url 'UserLogout' %}">Cerrar Sesion</a>
           
            <a class="btn btn-primary" href="{% url 'UserAvatar' %}">Avatar</a>
        
            <a class="btn btn-primary" href="{% url 'UserEditar' %}">Editar Perfil</a>
        {% else %}
            <a class="btn btn-primary" href="{% url 'UserLogin' %}">Iniciar Sesion</a>
            <a class="btn btn-primary" href="{% url 'UserRegister' %}">Registrarse</a>
            
            
        
        
        
        {% endif %}
    
    
    
    </div>
</nav>