<!DOCTYPE html>
<html>
    <head>
        <title>TODO SOBRE MI</title>
    </head>
    <body>
        <h1>¡¡ Bienvenidos !!</h1>
        <p><h2>Mi nombre es Rodrigo Ezequiel Rivero, estudiante del curso Python en CoderHouse.
            Decidi empezar este curso, ya que me gusta mucho la programacion, siempre senti curiosidad sobre ella.
            Tengo 32 años, soy de Argentina, Capital Federal.</h2>
        </p>
        <h1>Sobre el proyecto</h1>
        <h2>
            El proyecto se me ocurrio ya que, me gusta mucho los video juegos y 
            de ahi surgio la curiosidad sobre programacion, 
            debido a que siempre me pregunte como funcionaba todo lo relacionado al tema.
            La pagina es un blog de noticias sobre video juegos, consolas y jugadores.
            Cuenta con varias secciones donde se podran informar sobre las ultimas novedades Gamers.
            Si bien, la pagina aun esta un poco "verde", voy a seguir adquiriendo conocimientos para mejorar
            y que sea una de las mejores paginas.
            Muchas Gracias por leer esta informacion!
        </h2>
    </body>
</html>