{% extends 'index.html' %}

{% block title %}
Jugadores formulario
{% endblock %}
{% block inicio %}

{% endblock %}
{% block Inicio %}


<div class="col-4">
    <div class="card">
        <img class="card-img-top" height="300" src="{{ jugador.imagen_post.url }}" alt="{{ jugador.titulo_post}}">
        <div class="card-body">
                <h5 class="card-title">{{ver_jugador.titulo_post}}</h5>
                    <hr />
                    <h6 class="card-subtitle">Autor:{{ jugador.autor.username }}</h6>
                    <hr />
                    <h6 class="card-subtitle">{{jugador.subtitulo_post}}</h6>
                    <hr />
                    <p class="card-subtitle">Apodo:{{jugador.apodo}}</p>
                    <hr />
                     <p class="card-subtitle">Nombre: {{jugador.nombre}}</p>
                    <hr />
                    <p class="card-subtitle">Nombre: {{jugador.apellido}}</p>
                <div class="card-footer">
           
            </div>
        </div>
    </div>
</div>




{% endblock %}
